<app-header [title]="['Bookings List']"></app-header>

<ion-content>
<ion-card *ngIf="bookings">

  <ion-item color="medium" lines="none">
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">FirstName</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">LastName</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">Device</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">Booking Date</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">Booking Time</ion-text>
    </ion-col>
  </ion-item>

  <div *ngFor="let booking of bookings">
  <ion-item detail="true" [routerLink]="['/admin/bookings/', booking.id, 'view']" ]>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">{{booking.customer.firstName}}</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">{{booking.customer.lastName}}</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">{{booking.device.brand}} {{booking.device.model}}</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">{{booking.dateOfAppointment | date: 'dd/MMM'}}</ion-text>
    </ion-col>
    <ion-col>
      <ion-text style="font-family: Itim, sans-serif; font-size: 0.8rem;">{{booking.dateOfAppointment | date: 'shortTime'}}</ion-text>
    </ion-col>
  </ion-item>
  </div>
</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button style="font-family: Itim, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/admin/bookings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
