<app-header [title]="['Xbox']"></app-header>
<ion-content>
  <ion-card>
    <ion-list>

      <ion-item lines="none">
        <ion-img src="assets/img/xbox.png" style="height: 4rem; width: 4rem;"></ion-img>
        <ion-label style="margin-left: 2rem; font-family: Quicksand, sans-serif;">
          <strong>Xbox - Services</strong>
        </ion-label>
      </ion-item>

      <ion-item color="light">
        <ion-label style="text-align: center; font-family: Quicksand, sans-serif;">Devices We Repair</ion-label>
      </ion-item>

      <ion-item lines="indent">
        <ion-label style="font-family: Quicksand, sans-serif;">Xbox One</ion-label>
      </ion-item>

      <ion-item lines="indent">
        <ion-label style="font-family: Quicksand, sans-serif;">Xbox One S</ion-label>
      </ion-item>

      <ion-item lines="indent">
        <ion-label style="font-family: Quicksand, sans-serif;">Xbox One X</ion-label>
      </ion-item>

      <ion-item lines="none"></ion-item>
      <ion-item lines="none">
        <ion-text style="font-family: Quicksand, sans-serif;">
          Generally, Xbox One faults can be fixed,
          including most Power Issues including;
          No Power, Power loss, and Boot Problems, most of these issues are Hardrive,
          Power Card, or Motherboard related. The Disk Drive is a fairly robust mechanical Drive,
          with the Laser causing most of the issues by Failing.
          The E100 errors are fixable as well, using HDD rebuilding tools.
        </ion-text>
      </ion-item>
      <ion-item lines="none"></ion-item>

      <ion-item>
        <ion-col size="12">
          <ion-button color="success" size="block">
            <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.9rem;">Book Your Xbox for Repair</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size="12">
          <ion-button size="block" color="secondary">
            <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.9rem;">Question? Contact Us</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
