<app-header [title]="['Laptop\'s & PC\'s']"></app-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item lines="none">
        <ion-img src="assets/img/playstation.png" style="height: 4rem; width: 4rem;"></ion-img>
        <ion-label style="margin-left: 2rem; font-family: Spartan, sans-serif;">
          <strong>PC / Laptop - Services</strong>
        </ion-label>
      </ion-item>
      <ion-item lines="none"></ion-item>
      <ion-item>
        <ion-label>Running Too Slow?</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="font-family: Spartan, sans-serif;">
          Laptops get slow and after a while will start to take ages to boot up.
          This is because the manufacturers are still cutting corners on cost and shipping with HDD instead of SSD.
          This is one of the simplest things to get fixed, and all your files will still be there for you.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>No Longer Booting?</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-text style="font-family: Spartan, sans-serif;">
          If nothing happens when you turn to turn on your computer then don't worry, bring it in.
          Tech Repair Outpost have the tools to work out any issues you might be having.
          If it is a laptop it might just be a battery or a faulty RAM in a PC.
          These are easy to fix with the know-how and some of the leading technology that is in store.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Accidental Water Damage?</ion-label>
      </ion-item>
      <ion-item>
        <ion-text style="font-family: Spartan, sans-serif;">
          Bring your device instore quick. With the Ultra-Sonic Cleaner in Store,
          you should have your device back within 24 Hours.
          The cleaner will remove all the water using an alcohol based solution the gets in all the cracks of the motherboard.
          Then it will be dried in a special device so that liquid doesn't get trapped inside.
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Any Other Issues? Ask us about them!</ion-label>
      </ion-item>
      <ion-item>
        <ion-col size="12">
          <ion-button color="success" size="block">
            <ion-label>Book Your Computer for Repair</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-col size="12">
          <ion-button size="block" color="secondary">
            <ion-label>Question? Contact Us</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
