<app-header [title]="['Add New Inventory']"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-title style="font-family: Quicksand, sans-serif;">Enter New Product Details Below</ion-title>
    </ion-card-header>
    <form [formGroup]="form" (ngSubmit)="onAddCreateInventory()">

      <ion-item>
        <ion-label style="font-family: Itim, sans-serif;" position="stacked">Part Name:</ion-label>
        <ion-input formControlName="partName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="font-family: Itim, sans-serif;" position="stacked">For Device/s:</ion-label>
        <ion-select *ngIf="devices" formControlName="compatibleDevices" multiple="true">
          <div *ngFor="let device of devices">
            <ion-select-option value="/devices/{{device.id}}">{{device.brand}} {{device.model}} {{device.series}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="font-family: Itim, sans-serif;" position="stacked">Sale Price:</ion-label>
        <ion-input formControlName="salePrice"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="font-family: Itim, sans-serif;" position="stacked">Part Description:</ion-label>
        <ion-textarea formControlName="partDescription"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label style="font-family: Itim, sans-serif;" position="stacked">Image URL:</ion-label>
        <ion-input formControlName="imgUrl"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="font-family: Itim, sans-serif;" position="stacked">Quantity On Hand:</ion-label>
        <ion-input formControlName="qtyOnHand" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="font-family: Itim, sans-serif;" position="stacked">Par Level:</ion-label>
        <ion-input formControlName="parLevel" type="number"></ion-input>
      </ion-item>

      <ion-item lines="none" style="font-family: Itim, sans-serif;">
        <ion-col size="12">
          <ion-button type="submit" size="block" color="success">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Add New Inventory Item</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>

    </form>
  </ion-card>


</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button style="font-family: Quicksand, sans-serif;" text="Back" defaultHref="/admin/inventory"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
