<app-header [title]="['Admin']"></app-header>

<ion-content>
<ion-card>
  <ion-list>
    <ion-item lines="none" color="medium">
      <ion-title style="font-family: Itim, sans-serif;">Dashboard</ion-title>
    </ion-item>
    <ion-item [routerLink]="['/admin/bookings']" lines="indent">
      <ion-label style="font-family: Itim, sans-serif;">Bookings</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/admin/devices']">
      <ion-label style="font-family: Itim, sans-serif;">Devices</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/admin/repairs']">
      <ion-label style="font-family: Itim, sans-serif;">Repairs</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/admin/inventory']">
      <ion-label style="font-family: Itim, sans-serif;">Inventory</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/admin/invoices']">
      <ion-label style="font-family: Itim, sans-serif;">Invoices</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/admin/purchase-orders']">
      <ion-label style="font-family: Itim, sans-serif;">Purchase Orders</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/admin/suppliers']">
      <ion-label style="font-family: Itim, sans-serif;">Suppliers</ion-label>
    </ion-item>
    <ion-item lines="none" [routerLink]="['/admin/users']">
      <ion-label style="font-family: Itim, sans-serif;">Users</ion-label>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
