<app-header [title]="['Parts']"></app-header>

<ion-content>
  <ion-img src="assets/img/parts.jpg"></ion-img>
<ion-card>

  <ion-item lines="none" [routerLink]="['/admin/inventory/list']" detail="false">
    <ion-label
            style="font-family: Itim, sans-serif;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;"
            color="primary"
    >
      Parts List
    </ion-label>
  </ion-item>

  <ion-item color="light" lines="none" [routerLink]="['/admin/inventory/create']" detail="false">
    <ion-label
            color="primary"
            style="font-family: Itim, sans-serif;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;"
    >
      Add New Inventory
    </ion-label>
  </ion-item>

  <ion-item lines="none" [routerLink]="['/admin/inventory/stock-available']" detail="false">
    <ion-label
            color="primary"
            style="font-family: Itim, sans-serif;
            text-align: center; padding-top: 1rem;
            padding-bottom: 1rem;"
    >
      Stock On Hand
    </ion-label>
  </ion-item>

  <ion-item color="light" [routerLink]="['/admin/inventory/requires-ordering']" lines="none" detail="false">
    <ion-label
            color="primary"
            style="font-family: Itim, sans-serif;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;"
    >
      Parts Below Par Level
    </ion-label>
  </ion-item>

</ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button
              style="font-family: Itim, sans-serif;"
              defaultHref="/admin"
              text="Back"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
