<app-header [title]="['Delete Supplier?']"></app-header>

<ion-content>
<ion-card *ngIf="supplier">
  <ion-item>
    <ion-text color="warning">Are sure you would like to delete this supplier?</ion-text>
  </ion-item>
  <ion-card-header>
    <ion-title>{{supplier.name}}</ion-title>
  </ion-card-header>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-label>{{supplier.email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Contact Number:</ion-label>
    <ion-label>{{supplier.contactNumber}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Contact Person:</ion-label>
    <ion-label>{{supplier.contactPerson}}</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-col size="12">
      <ion-button (click)="onDeleteSupplier(supplier.id)" color="danger" size="block">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>Delete Supplier</ion-label>
      </ion-button>
    </ion-col>
  </ion-item>
</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/admin/suppliers"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
