<app-header [title]="['Generate Invoice']"></app-header>

<ion-content>

    <div #content>
<ion-card>

  <ion-item color="light">
  <ion-title>Customer Details</ion-title>
  </ion-item>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Contact Number</ion-label>
      <ion-input type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-card>
  <ion-card>
    <ion-item color="light">
      <ion-title>Repair Details</ion-title>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Device Brand</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Model</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Labour Cost</ion-label>
          <ion-input [(ngModel)]="labour" id="labour" type="number"></ion-input>
        </ion-item>
      </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Parts Cost</ion-label>
            <ion-input [(ngModel)]="parts" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
          <ion-label position="stacked">Total Exc/GST</ion-label>
          <ion-input value="${{labour + parts}}"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">GST</ion-label>
            <ion-input value="{{(parts + labour) * 0.10 | number}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>TOTAL Inc/GST:</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>${{(parts + labour) * 1.1 | number}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
    </div>

    <ion-row>
      <ion-col>
        <ion-button (click)="makePDF()" type="submit">
          <ion-label>Generate Invoice</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/admin/invoices"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
