<app-header [title]="['Create User']"></app-header>

<ion-content>
<ion-card>
  <form [formGroup]="form" (ngSubmit)="onAddUser()">
    <ion-item style="font-family: Quicksand, sans-serif;">
      <ion-label position="stacked">First Name</ion-label>
      <ion-input formControlName="FirstName"></ion-input>
    </ion-item>
    <ion-item style="font-family: Quicksand, sans-serif;">
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input formControlName="LastName"></ion-input>
    </ion-item>
    <ion-item style="font-family: Quicksand, sans-serif;">
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item style="font-family: Quicksand, sans-serif;">
      <ion-label position="stacked">Contact Number</ion-label>
      <ion-input formControlName="ContactNumber"></ion-input>
    </ion-item>
    <ion-item style="font-family: Quicksand, sans-serif;">
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item style="font-family: Quicksand, sans-serif;">
      <ion-label position="stacked">Role</ion-label>
      <ion-select formControlName="roles">
        <ion-select-option value="['ROLE_ADMIN']">Admin</ion-select-option>
        <ion-select-option value="['ROLE_USER']">Customer</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-col size="12">
        <ion-button type="submit" color="success" size="block">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          <ion-label>Add User</ion-label>
        </ion-button>
      </ion-col>
    </ion-item>
  </form>
</ion-card>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button style="font-family: Quicksand, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/admin/users"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
