<app-header [title]="['Part Details']"></app-header>

<ion-content>

  <ion-card>
<ion-list *ngIf="inventory">
  <ion-item lines="none">
    <ion-label *ngIf="inventory.parLevel > inventory.qtyOnHand" color="warning" style="font-family: Itim, sans-serif; text-align: center;">Requires Ordering</ion-label>
    <ion-label *ngIf="inventory.parLevel < inventory.qtyOnHand" color="success" style="font-family: Itim, sans-serif; text-align: center;">Sufficient Stock</ion-label>
  </ion-item>
  <ion-item>
    <ion-col size="5">
    <ion-label style="font-family: Itim, sans-serif; text-align: right;">PartName:</ion-label>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-label style="font-family: Itim, sans-serif;">{{inventory.partName}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-col size="5">
    <ion-label style="font-family: Itim, sans-serif; text-align: right;">Part Description:</ion-label>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-col size="5">
    <ion-label style="font-family: Itim, sans-serif;">{{inventory.partDescription}}</ion-label>
    </ion-col>
  </ion-item>

  <ion-item>
    <ion-col size="5">
    <ion-label style="font-family: Itim, sans-serif; text-align: right;" position="stacked">Compatible Devices:</ion-label>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif;" *ngFor="let item of inventory.compatibleDevices">{{item.brand}} {{item.model}} - {{item.series}}</ion-label>
    </ion-col>
  </ion-item>

  <ion-item>
    <ion-col size="5">
      <ion-label style="font-family: Itim, sans-serif; text-align: right;" >Sale Price:</ion-label>
    </ion-col>
    <ion-col size="2"></ion-col>
    <ion-col size="5">
    <ion-label style="font-family: Itim, sans-serif;">${{inventory.salePrice}}</ion-label>
    </ion-col>
  </ion-item>

    <ion-item>
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif; text-align: right;">QTY On Hand:</ion-label>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif;">{{inventory.qtyOnHand}}</ion-label>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif; text-align: right;">Par Level:</ion-label>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif;">{{inventory.parLevel}}</ion-label>
      </ion-col>
    </ion-item>
  <div *ngIf="suppliers">
  <ion-item lines="none" color="light">
    <ion-label style="font-family: Itim, sans-serif; text-align: center;">Suppliers Selling This Part</ion-label>
  </ion-item>
    <div *ngFor="let supplier of suppliers">
      <ion-item [routerLink]="['/admin/suppliers/', supplier.id, 'view']">
        <ion-label style="font-family: Itim, sans-serif;">{{supplier.name}}</ion-label>
      </ion-item>
    </div>
  </div>
<ion-item lines="none"></ion-item>
  <ion-item lines="none">
    <ion-col size="6">
      <ion-button [routerLink]="['/admin/inventory/', inventory.id, 'edit']" size="block" color="warning">
        <ion-label style="font-family: Itim, sans-serif;">Edit</ion-label>
        <ion-icon name="create-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="danger" size="block" [routerLink]="['/admin/inventory/', inventory.id, 'delete']">
        <ion-label style="font-family: Itim, sans-serif;">Delete</ion-label>
        <ion-icon name="trash-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>
</ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" style="font-family: Itim, sans-serif;" defaultHref="/admin/inventory"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/admin/inventory/create']" fill="outline">
        <ion-label style="font-family: Itim, sans-serif;">Add New Part</ion-label>
        <ion-icon name="add-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
