<app-header [title]="['Suppliers Parts']"></app-header>

<ion-content>
  <div *ngIf="supplier">
<ion-item lines="none" [routerLink]="['/admin/suppliers/', supplier.id, 'view']">
  <ion-label>Supplier:</ion-label>
  <ion-label>{{supplier.name}}</ion-label>
</ion-item>
  </div>
  <div *ngIf="parts">
    <ion-item>
      <ion-label>Part Name</ion-label>
      <ion-label>Qty On Hand</ion-label>
      <ion-label>Par Level</ion-label>
    </ion-item>
    <ion-item *ngFor="let part of parts">
      <ion-label>{{part.partName}}</ion-label>
      <ion-label>{{part.qtyOnHand}}</ion-label>
      <ion-label>{{part.parLevel}}</ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/admin/suppliers/list">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
