<app-header [title]="['Supplier List']"></app-header>

<ion-content>

  <ng-template #loading>
    <ion-card style="padding: 2rem; margin-top: 3rem;">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Loading Suppliers...</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-spinner style="position: absolute; left: 45%; right: 45%"></ion-spinner>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <div *ngIf="suppliers else loading">
    <div *ngFor="let supplier of suppliers">
<ion-card>
  <ion-item [routerLink]="['/admin/suppliers/', supplier.id, 'view']">
    <ion-title style="font-family: Itim, sans-serif;">{{supplier.name}}</ion-title>
  </ion-item>
  <ion-card-content>
    <ion-item lines="indent">
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif; text-align: right">Phone:</ion-label>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="5"><ion-label style="font-family: Itim, sans-serif;">{{supplier.contactNumber}}</ion-label></ion-col>
    </ion-item>
    <ion-item lines="indent">
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif; text-align: right">Email:</ion-label>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif;">{{supplier.email}}</ion-label>
      </ion-col>
    </ion-item>
    <ion-item lines="indent">
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif; text-align: right">Contact Person:</ion-label>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="5">
        <ion-label style="font-family: Itim, sans-serif;">{{supplier.contactPerson}}</ion-label>
      </ion-col>
    </ion-item>
    <ion-item lines="none">
      <ion-col size="4">
        <ion-button size="block" color="warning" [routerLink]="['/admin/suppliers', supplier.id, 'edit']">
      <ion-label style="font-family: Itim, sans-serif;font-size: 0.8rem; ">Edit</ion-label>
          <ion-icon name="create-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button size="block" color="danger" [routerLink]="['/admin/suppliers/', supplier.id, 'delete']">
          <ion-label style="font-family: Itim, sans-serif; font-size: 0.8rem;">Delete</ion-label>
          <ion-icon name="trash-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button size="block" [routerLink]="['/admin/suppliers/', supplier.id, 'parts']">
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          <ion-label style="font-family: Itim, sans-serif; font-size: 0.8rem;">View Parts Offered</ion-label>
        </ion-button>
      </ion-col>
    </ion-item>
  </ion-card-content>
</ion-card>
    </div>
  </div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button style="font-family: Itim, sans-serif; font-size: 0.8rem;" text="Back" defaultHref="/admin/suppliers"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
