<app-header [title]="['Apple Computer']"></app-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item lines="none">
        <ion-img src="assets/img/xbox.png" style="height: 4rem; width: 4rem;"></ion-img>
        <ion-label style="margin-left: 2rem; font-family: Quicksand, sans-serif;">
          <strong>Apple Computer - Services</strong>
        </ion-label>
      </ion-item>
      <ion-item color="light">
        <ion-label style="text-align: center; font-family: Quicksand, sans-serif;">Devices Repaired</ion-label>
      </ion-item>
      <ion-item lines="indent">
        <ion-label style="font-family: Quicksand, sans-serif;">iMac</ion-label>
      </ion-item>
      <ion-item lines="indent">
        <ion-label style="font-family: Quicksand, sans-serif;">Macbook</ion-label>
      </ion-item>
      <ion-item lines="none"></ion-item>
      <ion-item lines="none">
        <ion-text style="font-family: Quicksand, sans-serif;">
          Apple has a history of questionable design choices.
          They have been accused of slowing down their old machines so people will buy new ones.
          Some things can be done to bring your old machines back to life.
          Moving your data onto an SSD so your Macbook has a faster boot time.
          <hr />
          You cant work with a smashed screen, and in the long run will only make things worse.
          Replacing Screens and dented chassis will help get your Macbook into a functioning machine.
          Most models will have parts in stock, so it should be done in a single appointment.
          <hr />
          How is your battery life? Is it still holding a charge for more than 4 hours?
          If that is not the case, bring it in. Get it replaced by a professional so that you don't have to worry about it.
          Enjoy your Macbook for long flights and road trips again.
          <hr />
          Have you had any issues with your Time Machine backup?
          Backups are a time-consuming process that risks you losing your data.
          There are specific programs the will allow your data to be safely and securely
          transferred onto another device that will keep all your data safe and sound.
          <hr />
          Please call if you have any questions.
        </ion-text>
      </ion-item>
      <ion-item lines="none"></ion-item>
      <ion-item>
        <ion-col size="12">
          <ion-button color="success" size="block">
            <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Book Your Apple Computer for Repair</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-col size="12">
          <ion-button size="block" color="secondary">
            <ion-label style="font-family: Quicksand, sans-serif; font-size: 0.8rem;">Question? Contact Us</ion-label>
          </ion-button>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
