<app-header [title]="['Create Booking']"></app-header>

<ion-content>

  <ion-card>
    <form [formGroup]="form" (ngSubmit)="onCreateBooking()">
    <ion-item lines="none" color="light"></ion-item>
    <ion-item>
      <ion-label position="stacked">Date Of Appointment</ion-label>
      <ion-input type="datetime-local"></ion-input>
    </ion-item>
      <ion-item>

      </ion-item>
    </form>
  </ion-card>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/admin/bookings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
